@model IQueryable<IDeposit>
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.Tittle;
    ViewBag.Description = textField.SubTittle;
}

<div id="results">
    <table class="table-box">
        <tr>
            <th>Вклад</th>
            <th>Сумма</th>
            <th>Период</th>
            <th>Ставка</th>
            <th>Итого</th>
        </tr>
        @if (Model.Any())
        {

            @foreach (IDeposit entity in Model)
            {
                <tr>
                    <td>@entity.ID</td>
                    <td>@entity.Summ</td>
                    <td>@entity.Period</td>
                    <td>@entity.Rate</td>
                    <td>@entity.Outcome</td>
                </tr>
            }

        }
    </table>
</div>
<form asp-area="" asp-controller="Deposits" asp-action="OpenDeposit" method="get">
    <input class="button" type="submit" value="Открыть депозит" />
</form>
