@model IQueryable<ServiceItem>
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.Tittle;
    ViewBag.Description = textField.SubTittle;
}

<div id="results">
    @if (Model.Any())
    {
        <ul class="small-image-list" id="services_list">
            @foreach (ServiceItem entity in Model)
            {
                <li>
                    <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                        <img src="~/images/@((entity.ImagePath ?? "select-none.png"))" alt="" class="left" />
                    </a>
                    <a asp-area="" asp-controller="Services" asp-action="Index" asp-route-id="@entity.Id">
                        <h4>@entity.Tittle @(ViewBag.ServiceTypes[entity.ServiceType])</h4>
                    </a>
                    <p>@entity.SubTittle</p>
                </li>
            }
        </ul>

    }
</div>
<div class="div-box">
    @Html.DropDownList("ServiceType", new SelectList(ViewBag.ServiceTypes, "Key", "Value"), "-Выберите значение-")
    <input type="submit" id="mybatton" value="Отобрать" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#mybatton").click(function () {
                //document.getElementById("services_list").innerHTML = "";
                var name = document.getElementById("ServiceType").value;
                $.ajax({
                    type: "POST",
                    dataType: "html",
                    url: "Services/ServiceTypeSearch",
                    data: { type: name },
                    success: function (result) {
                        $('#results').html(result);
                    }
                });
            });
        });
    </script>
</div>
